*{
    padding: 0px;
    margin: 0px;
    color: #fff;
}

#page-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121214;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 400px;
    border: 2px solid #29292D;
    background-attachment: #1A1A1E;
    gap: 40px;
}

#inputs-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

input {
    border: none;
    outline: none;
    background-color: #29292D;
    border: 2px solid #1A1A1E;
    width: 100px;
    color: #fff;
    padding: 10px;
}


input:focus {
    border: 2px solid #8257E5;

}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}